@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.dot-online {
  background: greenyellow;
}

.dot-offline {
  background: red;
}

@layer components {
  /* * {
    @apply border border-red-600
  } */

  .outer-webpage {
    @apply flex flex-col  min-h-screen
  }
  
  .inner-webpage {
    @apply flex flex-row flex-grow
  }

  .topbar {
    @apply bg-slate-500 px-10 py-2 text-2xl font-bold cursor-pointer
  }

  .sidebar-status {
    @apply bg-slate-600 text-center size-fit place-self-center mb-5 mt-10 py-2 px-3 md:px-5 rounded-xl text-base cursor-pointer mx-auto
  }
  
  .sidebar {
    @apply bg-slate-500 text-xl flex-none
  }

  .sidebar-item {
    @apply py-2 pl-5 md:pl-10 pr-5 cursor-pointer
  }

  .sidebar-item:hover {
    @apply bg-slate-600 
  }

  .content {
    @apply flex flex-row
  }

  .content-page {
    @apply bg-slate-50 flex-grow text-slate-800 p-1 lg:px-10 lg:py-2
  }

  .content-title {
    @apply card card-emphasis bg-slate-200 
  }

  .card {
    @apply rounded-xl px-4 py-2 m-2
  }

  .card-title {
    @apply text-center sm:w-fit font-bold
  }

  .card-unimportant {
    @apply sm:card sm:card-background
  }

  .card-background {
    @apply bg-slate-100
  }

  .card-emphasis {
    @apply font-bold text-xl text-center 
  }

  .no-hover:hover {
    @apply text-slate-50
  }

  .live-measure {
    @apply grid grid-cols-2 basis-1/2 
  }

  .live-measure-units {
    @apply card card-emphasis mx-auto lg:my-4 bg-slate-200 
  }

  .live-measure-row {
    @apply visible
  }

  .live-measure-status {
    @apply text-2xl font-bold text-center border-2 rounded-xl px-4 py-2 my-2 grow
  }

  .live-measure-danger {
    @apply bg-red-200 text-red-800 border-red-500
  }

  .live-measure-safe {
    @apply bg-green-200 text-green-800 border-green-500 
  }

  .records-table table {
    @apply w-full 
  }

  .records-table th, tr, td {
    @apply px-1 sm:px-2 py-1 text-center
  }

  .records-table td {
    @apply border-y-2 
  }

  .records-table-date {
    @apply bg-transparent text-center text-xl
  }

  .records-table-button {
    @apply px-2
  }

  .threshold {
    @apply grid grid-cols-3 gap-2
  }

  .threshold-units {
    @apply card card-emphasis lg:my-4 bg-slate-200 
  }

  ::-webkit-calendar-picker-indicator {
    @apply invert
  }

  input[type=number].threshold-units,
  input[type=number].threshold-units::-webkit-inner-spin-button,
  input[type=number].threshold-units::-webkit-outer-spin-button { 
    @apply appearance-none
  }
  
}
