@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.dot-online {
  background: greenyellow;
}

.dot-offline {
  background: red;
}

@layer components {
  /* * {
    @apply border border-red-600
  } */

  .outer-webpage {
    @apply flex flex-col  min-h-screen min-w-full
  }
  
  .inner-webpage {
    @apply flex flex-row flex-grow
  }

  .topbar {
    @apply bg-slate-500 px-10 py-2 text-2xl font-bold cursor-pointer
  }

  .sidebar-status {
    @apply bg-slate-600 text-center size-fit place-self-center mb-5 mt-10 py-2 px-3 md:px-5 rounded-xl text-base cursor-pointer
  }
  
  .sidebar {
    @apply bg-slate-500 text-xl flex-none
  }

  .sidebar-item {
    @apply py-2 pl-5 md:pl-10 pr-5 cursor-pointer
  }

  .sidebar-item:hover {
    @apply bg-slate-600 
  }

  .content {
    @apply flex flex-row
  }

  .content-page {
    @apply bg-slate-50 flex-grow text-slate-800 p-2 lg:p-10
  }

  .content-title {
    @apply card card-emphasis sm:mb-10 text-xl
  }

  .card {
    @apply rounded-xl px-4 py-2 m-2
  }

  .card-title {
    @apply text-center sm:w-fit font-bold
  }

  .card-unimportant {
    @apply sm:card sm:card-background
  }

  .card-background {
    @apply bg-slate-100
  }

  .card-emphasis {
    @apply bg-slate-200
  }

  .no-hover:hover {
    @apply text-slate-50
  }

  .live-measure {
    @apply grid grid-cols-2 basis-1/2 
  }

  .live-measure-units {
    @apply card card-emphasis text-xl font-bold mx-auto lg:my-4 text-center
  }

  .live-measure-row {
    @apply border-collapse
  }

  .records-table table {
    @apply w-full 
  }

  .records-table th, tr, td {
    @apply px-1 sm:px-2 py-1 text-center
  }

  .records-table td {
    @apply border-y-2 
  }

}
